body {
  height: 100vh;
}

@media (max-width: 770px) {
  body {
    height: 300vh;
  }
}

nav {
  width: 100%;
  height: 94%;
}
@media (max-width: 770px) {
  nav {
    height: 97%;
  }
}

footer {
  height: 6%;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (max-width: 770px) {
  footer {
    height: 3%;
  }
}

footer .start {
  padding-left: 60px;
  font-size: 1.35rem;
  font-family: "icq bold";
  cursor: pointer;
}

footer .start a {
  color: black;
  text-decoration: none;
}
footer .start:hover a {
  color: var(--background);
}

footer .start:hover {
  border-bottom-color: var(--inner-top);
  border-right-color: var(--inner-top);
  border-left-color: var(--inner-bottom);
  border-top-color: var(--inner-bottom);
}
footer .start:active {
  border-top-color: var(--inner-top);
  border-left-color: var(--inner-top);
  border-right-color: var(--inner-bottom);
  border-bottom-color: var(--inner-bottom);
}
.footer--right {
  display: flex;
}
.git {
  font-size: 2rem;
  color: black;
  padding-top: 7px;
  padding-right: 10px;
}

footer .time {
  padding: 4px 6px 0 20px;
  font-size: 1.75rem;
}

.nav__container {
  overflow: hidden;
  border: 6px solid;
  padding: 20px;
  height: 100%;
  background: var(--background);
  position: relative;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
nav .instruction {
  position: absolute;
  font-size: 1.8rem;
  opacity: 0.5;
  top: 10px;
  left: 50%;
}
@media (max-width: 770px) {
  .nav_container {
    align-content: flex-end;
  }
  nav .instruction {
    top: 400px;
    left: 10px;
  }
}

/* --------checkbox buttons------------- */

.icons {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.checks {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.nav__container h5 {
  margin-top: 105px;
  text-align: center;
  font-size: 1rem;
}

.icon__contact {
  top: 200px;
  left: 10px;
  background: url(../icons/phone.png) no-repeat center center/cover;
}

.check__contact {
  top: 200px;
  left: 10px;
  opacity: 0;
}

.icon__about {
  top: 10px;
  left: 10px;
  background: url(../icons/notepad.png) no-repeat center center/cover;
}

.check__about {
  top: 10px;
  left: 10px;
  opacity: 0;
}

.icon__cv {
  top: 580px;
  left: 10px;
  background: url(../icons/CV.png) no-repeat center center/cover;
}

.check__cv {
  top: 580px;
  left: 10px;
  opacity: 0;
}

.icon__message {
  top: 770px;
  left: 10px;
  background: url(../icons/leaveAnote.png) no-repeat center center/cover;
}

.check__message {
  top: 770px;
  left: 10px;
  opacity: 0;
}

.icon__social {
  top: 390px;
  left: 10px;
  background: url(../icons/socialPlanet.png) no-repeat center center/cover;
}

.check__social {
  top: 390px;
  left: 10px;
  opacity: 0;
}

@media (max-width: 770px) {
  .icons {
    width: 60px;
    height: 60px;
  }

  .checks {
    width: 60px;
    height: 60px;
  }
  .nav__container h5 {
    margin-top: 70px;
    text-align: center;
    font-size: 15px;
  }
  .icon__contact {
    top: 10px;
    left: 160px;
  }
  .check__contact {
    top: 10px;
    left: 160px;
  }
  .icon__social {
    top: 300px;
    left: 10px;
  }
  .check__social {
    top: 300px;
    left: 10px;
  }
  .icon__cv {
    top: 160px;
    left: 10px;
  }

  .check__cv {
    top: 160px;
    left: 10px;
  }
  .icon__message {
    top: 160px;
    left: 160px;
  }

  .check__message {
    top: 160px;
    left: 160px;
  }
}
/* ----------transitions ----------- */
.check__contact:checked ~ .contact {
  transform: scale(1);
}
.check__about:checked ~ .aboutme {
  transform: scale(1);
}
.check__cv:checked ~ .cv {
  transform: scale(1);
}
.check__social:checked ~ .social {
  transform: scale(1);
}
.check__message:checked ~ .message {
  transform: scale(1);
}

/* -----------windows------------ */

/* about me */

.aboutme {
  margin: 20px;
  height: auto;
  width: 300px;
  transform: scale(0);
  transition: all 0.1s ease;
}

.aboutme .window--text .information img {
  width: 100px;
  padding-right: 20px;
}
.aboutme .window--text .information p {
  display: inline-block;
  line-height: 1.2rem;
  font-size: 1rem;
}
@media (max-width: 770px) {
  .aboutme {
    flex-shrink: 2;
    height: auto;
  }
  .aboutme .window--text .information p {
    font-size: 15px;
    line-height: 15px;
  }
}
/* contact */

.contact {
  align-self: flex-start;
  transform: scale(0);
  transition: all 0.1s ease;
  margin: 20px;
}

.contact .window--text .information > ul {
  list-style: none;
  line-height: 1.2rem;
  font-size: 1rem;
  padding-inline-start: 0;
}
/* social */

.social {
  align-self: flex-start;
  margin: 20px;
  height: auto;
  transform: scale(0);
  transition: all 0.1s ease;
}

.social .window--text .information > ul {
  list-style: none;
  line-height: 1.2rem;
  font-size: 2rem;
  padding-inline-start: 0;
}
.social .window--text .information > ul li {
  display: inline-block;
}
/* cv */

.cv {
  align-self: flex-end;
  margin: 20px;
  width: 300px;
  transform: scale(0);
  transition: all 0.1s ease;
}

.cv .window--text .information > p {
  line-height: 1.2rem;
  font-size: 1rem;
}
/* message */

.message {
  align-self: flex-end;
  margin: 20px;
  transform: scale(0);
  transition: all 0.1s ease;
}

.message .window--text .information {
  line-height: 1.2rem;
  font-size: 1rem;
}

.message .window--text .information input {
  width: 100%;
  padding-top: 5px;
  border: 2px solid;
  border-top-color: var(--inner-top);
  border-left-color: var(--inner-bottom);
  border-bottom-color: var(--inner-bottom);
  border-left-color: var(--inner-top);
}
.message .window--text .information .message--space {
  height: 60px;
}
