* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "icq";
  font-size: 62.5%;
  letter-spacing: 3px;
  word-spacing: 6px;
}

body {
  height: 100vh;
}

nav {
  overflow: hidden;
  /* background: pink; */
}
.borders {
  height: 1200px;
  width: 30%;
  position: relative;
}

/* -------------checkbox buttons--------------------- */

.borders .checks {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.borders .check__contact {
  top: 0;
  left: 0;
}

/* ----------transition--------------------------- */

.check__contact:checked ~ .testing .contact {
  transform: scale(1);
  transition-duration: 0.1s;
}

/*----------------- windows ----------------- */

.testing .contact {
  transform: scale(0);
  transition: all 0.1s ease;
  height: 200px;
  width: 200px;
  background-color: red;
}
